.blog-page {
	.poster-section {
		height: 1035px;
		.under-rgba-layer {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
		}

		.wrapper {
			padding: 0;
			max-width: 100%;

		}

		.articles-block {
			position: absolute;
			z-index: 1;
			top: -440px;
			margin: 0;

			.section-main-title {
				text-align: left;
				margin: 0 0 13px 23px;
				text-shadow: 0 4px 5px rgba(0, 0, 0, 0.24);
				color: #e17f00;
				font: 400 28px / 30px $Swiss721BT;
			}

			.articles-list {
				@include border-box;
				margin: 0 auto;
				text-align: center;
				li {
					display: block;
					width: 100%;
					height: auto;
					margin: 10px auto;
					background: rgba(0, 0, 0, 0.6);
					overflow: hidden;
					text-align: left;
					&:last-child {
						margin-bottom: 0;
					}


					.img-wrapper {
						display: none;
					}

					.owerflow-block {
						overflow: hidden;
						padding: 9px 18px 11px 14px;

						.article-title {
							margin: 0 0 5px;
							text-shadow: 0 4px 5px rgba(0, 0, 0, 0.24);
							color: white;
							font: 400 25px / 27px $Swiss721BT;
						}

						.article-content {
							padding-right: 20px;
							color: white;
							font: 400 18px / 20px $Swiss721BT;
						}

						.more-btn {
							float: right;
							margin: 6px 0 0;
							color: #e17f00;
							font: 400 20px / 22px $Swiss721BT;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.pagination-block {
			width: 100%;
			height: 76px;
			background: rgba(0, 0, 0, 0.6);
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 2;
			overflow: hidden;

			.pagination-list {
				width: auto;
				margin: 18px auto 0;
			}
		}
	}
	.blog-page-map {
		height: 649px;
	}
}