header {
	position: relative;
	max-height: 60px;
	height: 100%;
	padding: 11px 0;
	z-index: 101;
	background-image: linear-gradient(to top, #e2eff7 0%, #f1f6fa 100%);
	box-shadow: -0.1px 2px 5px rgba(13, 14, 14, 0.18);

	.main-menu,
	.desctop-info-block {
		display: none;
	}

	.dropdovn-menu-mobile {
		position: relative;
		.hidden-menu {
			display: block;
			position: absolute;
			list-style:none;
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			width: auto;
			min-width: 257px;
			background-color: white;
			box-shadow: -0.3px 5px 10px rgba(0, 0, 0, 0.38);
			-webkit-border-radius: 9px;
			-webkit-border-top-left-radius: 0;
			-moz-border-radius: 9px;
			-moz-border-radius-topleft: 0;
			border-radius: 9px;
			border-top-left-radius: 0;
			height: auto;
			padding: 60px 0 15px 0;
			top: 52px;
			left: -650px;
			transition: left .2s;
			z-index: 9;
			-webkit-transform: classZ(0);
			-webkit-backface-visibility: hidden;
			li {
				display: block;
				width: 100%;
				height: 43px;
				margin: 0 auto;
				text-align: left;
				line-height: 43px;
				vertical-align: middle;

				a {
					display: block;
					width: 100%;
					height: 100%;
					padding: 0 25px;
					color: #2b2318;
					font: 300 18px / 38px $Swiss721BT;
					@include transition;

					&:hover {
						color: #fff;
						background: #2b2318;
					}
				}
				a.hidden-menu-active {
					color: #fff;
					background: #2b2318;
				}
			}
		}
		.hidden-menu-ticker {
			display: none;
		}
		.btn-menu {
			color: #fff;
			background-color: none;
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
			transition: left .23s;
			z-index: 99;
			width: 30px;
			-webkit-transform: classZ(0);
			-webkit-backface-visibility: hidden;
		}
		.btn-menu span {
			display: block;
			height: 3px;
			background-color: #fff;
			margin: 3px 0 0;
			transition: all .1s linear .23s;
			border-radius: 10px;
			position: relative;
		}
		.btn-menu span.first {
			margin-top: 0;
		}
		.hidden-menu-ticker:checked ~ .btn-menu {
			left: 0;
			top: 0;
			z-index: 99999;
		}
		.hidden-menu-ticker:checked ~ .hidden-menu {
			left: -15px;
			top: -11px;
			overflow: hidden;
			margin: 0;
			z-index: 8;
		}
		// .hidden-menu-ticker:checked ~ .btn-menu span.first {
		// 	height: 3px;
		// 	-webkit-transform: rotate(45deg);
		// 	top: 10px;
		// 	width: 20px;
		// 	background-color: #000;
		// }
		// .hidden-menu-ticker:checked ~ .btn-menu span.second {
		// 	opacity: 0;
		// 	background-color: #000;
		// }

		// .hidden-menu-ticker:checked ~ .btn-menu span.third {
		// 	height: 3px;
		// 	width: 20px;
		// 	-webkit-transform: rotate(-45deg);
		// 	top: -2px;
		// 	background-color: #000;
		// }
	}

	/*logo*/
	.block-logo {
		position: relative;
		z-index: 9;
		float: left;
		width: 255px;
		height: 63px;
		margin: -27px 0 0 -15px;
		background: url("../images/mobile-logo-bg.png") no-repeat;

		.logo {
			float: left;
			max-width: 45px;
			max-height: 44px;
			margin: 7px 15px 0 80px;
		}
		.logo-sign {
			float: inherit;
			margin: 10px 0 0;
			text-align: left;
			letter-spacing: -1px;
			color: #2b2318;
			font: 400 22px / 22px $Swiss721BT;

			a {
				color: #2b2318;
			}
		}
	}
	/*dropdown*/
	.call-us-block {
		float: right;
		margin: -10px 0 0 0;
		vertical-align: middle;

		span {
			display: inline-block;
			line-height: 33px;
			vertical-align: middle;
			color: #2b2318;
			font-size: 29px;
		}
	}
	#info-mobile {
		width: 244px;
		height: auto;
		background-color: white;
		box-shadow: -0.3px 5px 10px rgba(0, 0, 0, 0.38);
		-webkit-border-radius: 10px;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius: 10px;
		-moz-border-radius-topright: 0;
		border-radius: 10px;
		border-top-right-radius: 0;
		clear:none;
		float: right;
		position: absolute;
		top: 26px;
		right: 0;
		z-index: 8;
		@include transition;

		a {
			display: block;
			margin: 6px auto;
			padding: 13px 5px;
			text-align: center;
			.phone {
				color: #2b2318;
				font: 300 28px / 35px $Swiss721BT;
			}
		}
	}
	.call-us-block > label {
		float: right;
		position: relative;
		z-index: 2;
		margin: 5px 0 0;
		color: #000; 
		cursor: pointer;
		@include transition;
	}
	input{display:none;}
	input:checked+#info-mobile{display:none;}

	/*end dropdown phone*/
	/*end menu*/
}
.inside-page-header {
	position: absolute;
	width: 100%;
	max-height: 167px;
	height: 25px;
	padding: 27px 0 0;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: none;

	.button_container {
		display: none;
	}
}