	.like-slider-page {
		@include site-container;
		clear: both;
		.poster-section {

			.single-item {
				position: absolute;
				top: -100px;
				z-index: 2;
				width: 290px;
				height: 100%;
				max-height: 90px;
				left: 50%;
				transform: translateX(-50%);
				.slide {
					position: relative;
					min-height: 170px;
					.position-content-block {
						max-width: 525px;
						width: 100%;
						left: 36px;
						top: 15px;

						.content-title {
							margin: 0;
							color: white;
							font: 400 17px / 23px $Swiss721BT;

							span {
								display: block;
							}
						}
						.content-text {
							color: white;
							font: 400 12px / 22px $Swiss721BT;
						}
					}
				}
				.next-btn, .prev-btn {
					position: absolute;
					width: 15px;
					height: 30px;
					top: 35px;
					color: #fff;
					background-image: none;
					cursor: pointer;
					z-index: 999;
				}
				.next-btn {
					right: 0;
					background: url("../images/next.png") no-repeat;
					background-size: cover;

					&:hover {
						background: url("../images/next-hover.png") no-repeat;
						background-size: cover;
					}
				}
				.prev-btn {
					left: 0;
					background: url("../images/prev.png") no-repeat;
					background-size: cover;

					&:hover {
						background: url("../images/prev-hover.png") no-repeat;
						background-size: cover;
					}
				}
			}

			.more-block {
				clear: both;
				max-width: 695px;
				width: 100%;
				height: auto;
				overflow: hidden;
				margin: 0;
				background: url("../images/more-bg-mobile.png") no-repeat;
				position: relative;
				z-index: 2;
				top: 0;
				left: 0;
				padding-bottom: 17px;

				.more-btn {
					position: relative;
					left: 20px;
					bottom: 0;
					color: white;
					font: 400 11px / 23px $Swiss721BT;
				}

				.caption {
					position: absolute;
					top: 0px;
					left: 0;
					width: 100%;
					height: 100%;
					color: #fff;
					-webkit-transform: scaleX(0);
					-moz-transform: scaleX(0);
					-ms-transform: scaleX(0);
					-o-transform: scaleX(0);
					transform: scaleX(0);
					-o-transform-origin: left center;
					-moz-transform-origin: left center;
					-ms-transform-origin: left center;
					-webkit-transform-origin: left center;
					transform-origin: left center;
					-o-transition: all 0.4s linear 0s;
					-moz-transition: all 0.4s linear 0s;
					-webkit-transition: all 0.4s linear 0s;
					-ms-transition: all 0.4s linear 0s;
					transition: all 0.4s linear 0s;
					p {
						margin: 0;
						text-align: center;
						padding: 0;
						color: white;
						font: 400 16px / 23px $Swiss721BT;
						span {
							display: none;
						}
					}
				}
				&:hover {
					.caption {
						-webkit-transform: scaleX(1);
						-moz-transform: scaleX(1);
						-ms-transform: scaleX(1);
						-o-transform: scaleX(1);
						transform: scaleX(1);
					}
				}
			}
			.bottom-text {
				position: absolute;
				width: 100%;
				padding: 8px 0 20px 0;
				bottom: 0;
				left: 0;
				z-index: 2;
				color: #fff;
				background: rgba(0, 0, 0, 0.4);

				.bottom-text-title {
					margin: 0 0 9px;
					font: 400 17px / 23px $Swiss721BT;
				}

				p {
					max-width: 865px;
					text-align: justify;
					font: 400 12px / 14px $Swiss721BT;
				}
			}
		}
	}

	.poster-section {
		@include border-box;
		min-width: 320px;
		height: 420px;
		top: 0;
		overflow: hidden;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;

		.poster-img {
			min-height: auto;
			height: 100%;
			min-width: auto;
			max-width: none;
			width: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		.poster-overflow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: url("../images/poster-overflov-element-mobile.png") no-repeat;
			background-size: cover;
		}

		.position-content-block {
			position: absolute;
			top: -111px;
			left: 20px;
			max-width: 587px;
			width: auto;
			height: auto;
			z-index: 1;

			.content-title {
				margin: 0 0 26px;
				color: black;
				font: 300 20px / 22px $Swiss721BT;
			}

			.content-text {
				color: black;
				font: 300 18px / 22px $Swiss721BT;
			}
		}
	}

	
	.services-section {
		padding: 50px 0 66px;
		overflow: initial;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.34);
		border-top: 5px solid #b36704;
		border-bottom: 5px solid #b36704;
		background: url("../images/cubics.png");

		.section-position-title {
			position: absolute;
			top: -77px;
			left: 15px;
			z-index: 2;
			width: 206px;
			height: 25px;
			background: url("../images/our-services-colore-mobile.png") no-repeat;

			span {
				display: block;
				margin: 0 0 0 11px;
				color: white;
				font: 400 17px / 23px $Swiss721BT;
			}
		}
		.services-list {
			padding-left: 14px;
			li {
				display: block;
				width: 100%;
				height: auto;
				margin: 15px auto;
				overflow: hidden;

				.icon-wrapper {
					float: left;
					margin: 0 15px 0 0;
					width: 85px;
					height: 60px;
					overflow: hidden;
					position: relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					-webkit-align-items: center;
					align-items: center;
					@include transition;

					a {
						display: block;
						width: 100%;
						height: 100%;
					}

					img {
						min-height: auto;
						height: 100%;
						min-width: auto;
						max-width: none;
						width: auto;
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						@include transition;

						filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
						filter: gray; /* IE6-9 */
						-webkit-filter: grayscale(100%) brightness(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
					}
				}

				.services-icon-title {
					overflow: hidden;
					margin: 35px auto 0;
					color: black;
					font: 400 25px / 25px $Swiss721BT;

					a {
						color: #000;
						@include transition;

						.for-desctop {
							display: none;
						}
					}
				}

				.icon-sixth  {
					.for-desctop {
						display: none;
					}
				}

				&:hover {

					.icon-wrapper {
						img {
							filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
							-webkit-filter: grayscale(0%);
						}
					}

					.services-icon-title {
						a {
							color: #e17f00;
						}
					}
				}
			}

			.services-item-active {
				.icon-wrapper {
					img {
						filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
						-webkit-filter: grayscale(0%);
					}
				}

				.services-icon-title {
					a {
						color: #e17f00;
					}
				}
			}

		}
	}


	.stock-section {
		padding: 0;
		height: 525px;
		overflow: hidden;

		.top-rgba,
		.bottom-rgba {
			position: absolute;
			z-index: 1;
			left: 0;
			width: 100%;
			height: 45px;
			background: rgba(0, 0, 0, 0.3);
		}
		.top-rgba {
			top: 0;

			.title {
				margin: 10px 0 0;
				padding: 3px 0 0 30px;
				color: white;
				font: 400 17px / 22px $Swiss721BT;
			}
		}
		.bottom-rgba {
			bottom: 0;
		}
		.section-img-wrapper {
			height: 993px;
		}

		.advantages-list {
			@include border-box;
			margin: 80px auto 0;
			text-align: center;

			li {
				display: inline-block;
				max-width: 262px;
				width: 100%;
				min-height: 135px;
				margin: 0 auto 10px;
				// padding: 15px 0 15px 10px;
				padding: 0;
				// background: url("../images/advanteges-item-bg.png") no-repeat;
				// background-size: contain;
				@include border-box; 
				border: 20px solid transparent;
				border-image: url("../images/advanteges-item-bg.png");
				border-image-slice: 20;


				.item-title {
					margin: 0 auto 13px;
					color: white;
					font: 400 18px / 20px $Swiss721BT;
				}

				.item-content {
					text-align: left;
					color: white;
					font: 400 13px / 18px $Swiss721BT;
				}
			}
		}
	}

	.why-section {
		height: 600px;
	}

	.blog-tegs {
		padding: 20px 0;
		background: url(../images/cubics.png);
		border-top: 5px solid #b36704;
		border-bottom: 5px solid #b36704;
		.tegs-list {
			display: none;
		}

		.mobile-block {

			p {
				color: #4a4a4a;
				font: 400 12px / 14px $Swiss721BT;
			}
		}
	}

	.quote-form-section {
		@include border-box;
		position: relative;
		width: 100%;
		margin: auto;
		background-size: contain;
		background-position: center;
		padding: 0;
		border-bottom: 5px solid #b36704;

		.rgba-bg-absolute {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
		}
		.section-img-wrapper {
			position: relative;
			width: 100%;
			min-height: 100%;
			height: 545px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			overflow: hidden;

			.full-width-img {
				min-height: auto;
				height: 100%;
				min-width: auto;
				max-width: none;
				width: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.section-position-title {
			position: absolute;
			top: -12px;
			left: 15px;
			z-index: 2;
			min-width: 137px;
			min-height: 25px;
			background: url("../images/our-services-colore-mobile.png") no-repeat;
			background-size: cover;

			span {
				display: block;
				margin: 0 0 0 10px;
				color: #000;
				font: 400 17px / 22px $Swiss721BT;
			}
		}

		.form-wrapper {
			overflow: hidden;
			margin: 30px auto 0;
			width: 100%;
			max-width: 678px;
			min-height: 322px;
			padding: 0;
			@include border-box;
			// border: 20px solid transparent;
			// border-image: url("../images/quate-form-border.png");
			// border-image-slice: 20;
			// background: rgba(0, 0, 0, 0.7);

			#quote-form {
				margin: 0 auto;
			}

			.row {
				overflow: hidden;
				label,
				.services-label {
					display: block;
					margin: 0 0 3px 7px;
					color: white;
					font: 400 17px / 22px $Swiss721BT;
				}

				#first-name,
				#number,
				#email, 
				#select-services,
				#message {
					background: rgba(255, 255, 255, 0.8);
					border: none;
					outline: none;
					resize: none;
					color: #000;
					font: 400 17px / 19px $Swiss721BT;
					@include border-box;
				}

				#message {
					width: 100%;
					height: 115px;
					padding: 5px 0 0 5px;
				}

				#first-name,
				#number,
				#email {
					padding: 0 0 0 10px;
				}

				#first-name,
				#number,
				#email, 
				#select-services {
					display: block;
					width: 100%;
					height: 41px;
					@include border-box;
				}

				#select-services {
					font: 400 17px / 22px $Swiss721BT;
					color: #ffa200;
					padding-left: 10px;
				}
			}

			.first-name,
			.email,
			.number,
			.selection-block {
				margin: 0 0 9px;
			}

			.first-name,
			.email {
				width: 100%;
			} 

			.number,
			.selection-block {
				width: 100%;
			}

			.selection-block {
				label {
					margin: 0;
					position: relative;

					&:after {
						position: absolute;
						top: 15px;
						right: 2px;
						content: "";
						width: 0;
						height: 0;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-top: 10px solid #1a1a1a;
						z-index: 2;
						background: transparent;
					}
				}
			}

			.message {
				clear: both;
			}

			#quote-sbm-btn {
				display: block;
				width: 136px;
				height: 41px;
				margin: 16px auto 0;
				color: #ffa200;
				font: 400 25px / 35px $Swiss721BT;
				border: 2px solid #fff;
				background: none;
				outline: none;
				cursor: pointer;
			}
		}
	}

	.map-section {
		position: relative;
		display: block;
		height: 515px;

		.section-position-title {
			display: none;
		}
		.section-position-title-mobile {
			position: absolute;
			top: -42px;
			left: 0;
			z-index: 2;
			width: 206px;
			height: 46px;
			background: url("../images/our-services-colore-mobile.png") no-repeat;

			span {
				display: block;
				margin: 0 0 0 11px;
				color: white;
				font: 400 17px / 22px $Swiss721BT;
			}
		}

		.mapWrapper {
			position: absolute;
			padding-bottom: 0;
			width: 100%;
			height: 100%;
			background: url(../images/cubics.png);
			#mapWrapper {
				display: none;
			}
			.map-overflow {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				display: block;
				cursor: pointer;
			}
		}
		.prefooter-mobile {
			height: 100%;
			margin: 30px auto 0;
			.information-block,
			.social-block {
				.block-title {
					margin: 13px 0 7px;
					color: #e17f00;
					font: 400 20px / 22px $Swiss721BT;

				}
			}
			.information-block {
				.location {
					span {
						display: block;
						color: black;
						font: 400 20px / 22px $Swiss721BT;
					}
				}

				.get-direction-btn {
					display: block;
					width: 137px;
					height: 25px;
					margin: 8px 0 15px 0;
					color: #010101;
					font: 400 17px / 22px $Swiss721BT;
					background: url("../images/our-services-colore-mobile.png") no-repeat;

					span {
						display: block;
						margin: 5px 0 0 7px;
					}
				}

				.contact-row {
					.titile {
						display: block;
						margin: 13px 0 7px;
						color: #e17f00;
						font: 400 20px / 22px $Swiss721BT;
					}

					a {
						display: block;
						color: black;
						font: 400 20px / 22px $Swiss721BT;
					}
				}
			}

			.social-block {
				.social-icon-list {
					li {
						display: inline-block;
						margin: 0 5px;

						&:first-child {
							margin-left: 0;
						}

						&:last-child {
							margin-right: 0;
						}

						a {
							display: block;
							width: 36px;
							height: 36px;
							-moz-border-radius: 100%;
							-webkit-border-radius: 100%;
							border-radius: 100%;
							border: 1px solid #000;
							background: #acacac;
							@include transition;
							.fa {
								display: block;
								margin: 0 auto;
								text-align: center;
								line-height: 36px;
								color: #000;
								font-size: 26px;
								@include transition;
							}

							&:hover {
								border-color: #f3840d;

								.fa {
									color: #f3840d;
								}
							}
						}
					}
				}
			}

			.footer-main-menu {
				width: 100%;
				margin: 10px auto 0;
				padding: 18px 0 23px;
				position: absolute;
				background: rgba(0, 0, 0, 0.7);

				li {
					display: block;
					margin: 10px 0;
					a {
						color: white;
						font: 400 30px /32px $Swiss721BT;
						@include transition;

						&:hover {
							color: #e17f00;
						}
					}
				}
			}
		}

		.prefooter {
			display: none;
		}
		// .prefooter {
		// 	overflow: hidden;
		// 	padding: 29px 0 42px;
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: 0;
		// 	width: 100%;
		// 	background: rgba(0, 0, 0, 0.6);
		// 	z-index: 1;

		// 	.footer-main-menu,
		// 	.footer-services-menu,
		// 	.social-block,	
		// 	.information-block {
		// 		float: left;
		// 		max-width: 25%;
		// 		width: 100%;

		// 		.block-title {
		// 			margin: 0 0 12px;
		// 			color: white;
		// 			font: 400 20px / 22px $Swiss721BT;
		// 		}
		// 	}
		// 	.footer-main-menu {
		// 		min-width: 80px;
		// 		max-width: 200px;
		// 		margin: 0 0 0 33px;
		// 	}
		// 	.footer-services-menu {
		// 		min-width: 120px;
		// 		max-width: 285px;
		// 	}

		// 	.footer-main-menu {
		// 		.footer-main-menu-list {
		// 			li {
		// 				a.footer-menu-active {
		// 					color: #ff9001;
		// 				}
		// 			}
		// 		}
		// 	}
		// 	.footer-services-menu {
		// 		li {
		// 			a.services-item-active {
		// 				color: #ff9001;
		// 			}
		// 		}
		// 	}

		// 	.social-block {
		// 		min-width: 125px;
		// 		max-width: 230px;

		// 		.social-icon-list {
		// 			@include border-box;
		// 			max-width: 120px;

		// 			li {
		// 				display: inline-block;
		// 				margin: 3px;

		// 				&:nth-child(3n+1),
		// 				&:nth-child(3n+3) {
		// 					margin: 5px 0;
		// 				}

		// 				a {
		// 					display: block;
		// 					width: 24px;
		// 					height: 24px;
		// 					padding: 4px;
		// 					-webkit-border-radius: 100%;
		// 					-moz-border-radius: 100%;
		// 					border-radius: 100%;
		// 					text-align: center;

		// 					background: rgba(0, 0, 0, 0.7);
		// 					border: 1px solid #fff;

		// 					@include transition;

		// 					&:hover {
		// 						border-color: #ed7b02;

		// 						.fa {
		// 							color: #ed7b02;
		// 						}
		// 					}

		// 					.fa {
		// 						font-size: 20px;
		// 						line-height: 24px;
		// 						color: #fff;
		// 						@include transition;
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// 	.information-block {
		// 		width: 205px;
		// 		text-align: right;

		// 		.location {
		// 			margin: 18px 4px 15px 0;
		// 			text-align: right;
		// 			h3 {
		// 				color: white;
		// 				font: 400 16px / 20px $Swiss721BT;

		// 				span {
		// 					display: block;
		// 				}
		// 			}
		// 		}

		// 		.footer-phone {
		// 			margin: 0 5px 0 0;
		// 			color: white;
		// 			font: 400 16px / 22px $Swiss721BT;

		// 			.fa {
		// 				padding-right: 7px;
		// 			}
		// 		}
		// 	}

		// 	.footer-main-menu,
		// 	.footer-services-menu {
		// 		li {
		// 			display: block;
		// 			margin: 5px 0;
		// 			a {
		// 				font: 400 16px / 22px $Swiss721BT;
		// 				color: #fffefe;

		// 				&:hover {
		// 					color: #ff9001;
		// 				}
		// 			}
		// 		}
		// 	}
		// }

	}

	.stock-section {
		@include site-container;
		padding: 0;
		background: #4e99d2;


		.section-img-wrapper {
			position: relative;
			width: 100%;
			min-height: 100%;
			height: 524px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			overflow: hidden;

			.position-img {
				min-height: auto;
				height: 100%;
				min-width: auto;
				max-width: none;
				width: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.under-layer {
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: top left;
		}

		.position-block {
			padding: 15% 0 0;
			.small-title {
				margin: 0 0 5%;
				color: #e7d99b;
				font: 300 24px / 26px $Swiss721BT;
			}

			.big-title {
				color: white;
				font: 400 43px / 57px $Swiss721BT;
			}

			.stock-title {
				margin: 0 0 35px;
				color: white;
				font: 300 24px / 28px $Swiss721BT;
			}

			.stock-sign {
				margin: 0 0 26px;
				color: white;
				font: 300 18px / 22px $Swiss721BT;
			}
		}
	}