.page-slider {
	@include site-container;
	clear: both;

// 	.swiper-container-home-page {
// 		position: relative;
// 		height: 245px;

// 		.swiper-slide {
// 			width: 100%;
// 			position: relative;
// 			overflow: hidden;
// 			text-align: center;
// 			font-size: 18px;
// 			background: #fff;
// 			display: -webkit-box;
// 			display: -ms-flexbox;
// 			display: -webkit-flex;
// 			display: flex;
// 			-webkit-box-pack: center;
// 			-ms-flex-pack: center;
// 			-webkit-justify-content: center;
// 			justify-content: center;
// 			-webkit-box-align: center;
// 			-ms-flex-align: center;
// 			-webkit-align-items: center;
// 			align-items: center;


// 			.slider-title {
// 				max-width: 280px;
// 				width: 100%;
// 				text-align: center;
// 				position: absolute;
// 				z-index: 3;
// 				top: 35%;
// 				left: 50%;
// 				-webkit-transform: translate(-50%, -50%);
// 				-ms-transform: translate(-50%, -50%);

// 				a {
// 					color: black;
// 					font: 300 21px / 24px $Swiss721BT;
// 					span {
// 						display: block;
// 					}
// 				}
// 			}

// 			img {
// 				z-index: 1;
// 				min-height: auto;
// 				height: 100%;
// 				min-width: auto;
// 				max-width: none;
// 				position: absolute;
// 				top: 50%;
// 				left: 85%;
// 				-webkit-transform: translate(-50%, -50%);
// 				-ms-transform: translate(-50%, -50%);
// 			}
// 		}

// 		.services-price-btn {
// 			position: absolute;
// 			left: 50%;
// 			transform: translateX(-50%);
// 			bottom: 0;
// 			top: 100%;
// 			z-index: 8;
// 			display: block;
// 			width: 268px;
// 			height: 48px;
// 			margin-top: 55px;
// 			color: white;
// 			text-align: center;
// 			font: 600 18px / 48px $Swiss721BT;
// 			background-image: linear-gradient(to top, #4793cd 0%, #62aee0 100%);
// 			-webkit-border-radius: 23px;
// 			-moz-border-radius: 23px;
// 			border-radius: 23px;
// 		}
// 	}
// }
}
.poster-section {
	@include border-box;
	min-width: 320px;
	height: 265px;
	overflow: hidden;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	.poster-img {
		min-height: auto;
		height: 100%;
		min-width: auto;
		max-width: none;
		width: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.poster-overflow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: url("../images/poster-overflov-element-mobile.png") no-repeat;
		background-size: cover;
	}

	.position-content-block {
		position: absolute;
		top: -111px;
		left: 20px;
		max-width: 587px;
		width: auto;
		height: auto;
		z-index: 1;

		.content-title {
			margin: 0 0 26px;
			color: black;
			font: 300 20px / 22px $Swiss721BT;
		}

		.content-text {
			color: black;
			font: 300 18px / 22px $Swiss721BT;
		}
	}
}

.services-section {
	@include site-container;
	padding: 20px 0;
	background-image: linear-gradient(to top, #f3f8fc 0%, #f3f8fc 100%);
	box-shadow: -0.1px 2px 5px rgba(13, 14, 14, 0.18);


	.services-list {
		@include border-box;
		margin: 0 auto;
		text-align: center;

		// li {
		// 	display: block;
		// 	overflow: hidden;
		// 	width: 269px;
		// 	height: 269px;
		// 	margin: 17px auto 28px;
		// 	background: #fff;
		// 	box-shadow: -0.6px 8px 13px rgba(0, 0, 0, 0.18);
		// 	-webkit-border-radius: 20px;
		// 	-moz-border-radius: 20px;
		// 	border-radius: 20px;
		// 	@include transition;

		// 	&:hover {
		// 		background-color: #3aace2;
		// 		box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.36);

		// 		.item-title  {
		// 			a {
		// 				color: #fff;
		// 				@include transition;
		// 			}
		// 		}
		// 	}

		// 	.item-title {
		// 		margin: 14px auto 10px;
		// 		text-align: center;
		// 		color: black;
		// 		font: 300 18px / 22px $Swiss721BT;
		// 		@include transition;
		// 		a {
		// 			color: #000;
		// 		}
		// 	}

		// 	.img-wrapper {
		// 		width: 269px;
		// 		height: 268px;
		// 		overflow: hidden;
		// 		position: relative;
		// 		display: -webkit-box;
		// 		display: -ms-flexbox;
		// 		display: -webkit-flex;
		// 		display: flex;
		// 		-webkit-box-pack: center;
		// 		-ms-flex-pack: center;
		// 		-webkit-justify-content: center;
		// 		justify-content: center;
		// 		-webkit-box-align: center;
		// 		-ms-flex-align: center;
		// 		-webkit-align-items: center;
		// 		align-items: center;

		// 		img {
		// 			min-height: auto;
		// 			height: 100%;
		// 			min-width: auto;
		// 			max-width: none;
		// 			position: absolute;
		// 			top: 50%;
		// 			left: 50%;
		// 			-webkit-transform: translate(-50%, -50%);
		// 			-ms-transform: translate(-50%, -50%);
		// 		}
		// 	}
		// }
	}
}
.why-we-section {
	@include site-container;
	padding: 20px 0;
	background: #fff;


	.list-item {
		@include border-box;
		margin: 0 auto;
		text-align: center;

		li {
			display: block;
			max-width: 265px;
			width: 100%;
			overflow: hidden;
			margin: 25px auto 33px;

			.icon-wrapper {
				width: 75px;
				height: 75px;
				margin: 0 auto;
				border: 0.73px solid #ccc;
				border-radius: 15px;
				text-align: center;

				img {
					display: block;
					max-width: 100%;
					height: auto;
					margin: 17px auto 0;
				}
			}

			.item-title {
				margin: 12px auto 10px;
				text-align: center;
				color: black;
				font: 300 23px / 26px $Swiss721BT;
			}

			p, .item-content {
				color: #505050;
				font: 300 17px / 20px $Swiss721BT;
			}
		}
	}

	.after-title {
		margin: 15px auto 30px;
		text-align: center;
		color: black;
		font: 300 23px / 26px $Swiss721BT;
	}
}

.stock-section {
	@include site-container;
	padding: 13px 0;
	background: #4e99d2;


	.section-img-wrapper {
		position: relative;
		width: 100%;
		min-height: 100%;
		height: 221px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		overflow: hidden;

		.position-img {
			min-height: auto;
			height: 100%;
			min-width: auto;
			max-width: none;
			width: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}

	.under-layer {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: top left;
	}

	.position-block {
		padding: 15% 0 0;
		.small-title {
			margin: 0 0 5%;
			color: #e7d99b;
			font: 300 24px / 26px $Swiss721BT;
		}

		.big-title {
			color: white;
			font: 400 43px / 57px $Swiss721BT;
		}

		.stock-title {
			margin: 0 0 35px;
			color: white;
			font: 300 24px / 28px $Swiss721BT;
		}

		.stock-sign {
			margin: 0 0 26px;
			color: white;
			font: 300 18px / 22px $Swiss721BT;
		}
	}
}
.our-employees-section {
	@include site-container;
	padding: 20px 0;
	background: #fff;

	.employees-list {
		@include border-box;
		margin: 0 auto;
		text-align: center;

		li {
			max-width: 271px;
			width: 100%;
			display: block;
			margin: 17px auto 30px;
			text-align: left;

			.img-wrapper {
				width: 271px;
				height: 423px;
				position: relative;
				box-shadow: -0.3px 4px 8px rgba(0, 0, 0, 0.56);
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				overflow: hidden;
				border-bottom: 11px solid #4e99d2;

				img {
					min-height: auto;
					height: 100%;
					min-width: auto;
					max-width: none;
					width: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}

			.employees-name {
				margin: 21px 0 14px;
				color: black;
				font: 300 29px / 32px $Swiss721BT;
			}

			.years-experience {
				color: #999;
				font: 300 20px / 22px $Swiss721BT;
			}
		}
	}
}
.customer-reviews-section,
.map-section {
	display: none;
	
}
.map-section {
	.prefooter {
		.footer-logo {
			margin: 0 auto;
			text-align: center;
			.logo-f {
				display: inline-block;
				max-width: 36px;
				max-height: 36px;
				overflow: hidden;
				margin: -5px 4px 0 15px;
				padding: 0;
				vertical-align: middle;

				img {
					max-width: 100%;
					height: auto;
				}
			}
			.logo-sign {
				display: inline-block;
				margin: 3px 0 0;
				color: black;
				font: 300 21px / 30px $Swiss721BT;

				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
		.right-block {
			.footer-phone {
				display: block;
				margin: 25px auto 0;
				text-align: center;
				color: black;
				font: 300 21px / 35px $Swiss721BT;
			}

			.working-hours {
				margin: 0 auto;
				text-align: center;
				color: black;
				font: 300 21px / 35px $Swiss721BT;
			}
			.location {
				margin: 30px auto;
				text-align: center;
				h3 {
					text-align: center;
					color: black;
					font: 300 21px / 35px $Swiss721BT;

					span { 
						display: block;
					}
				}
			}
		}
	}
}
