
// @media (min-width: 768px) {

// 	.page-slider {
// 		.swiper-container-home-page {
// 			height: 460px;

// 			.swiper-slide {
// 				.slider-title {
// 					max-width: 580px;
// 					a {
// 						font-size: 31px;
// 						line-height: 34px;
// 					}
// 				}
// 				.services-price-btn {
// 					margin-top: 90px;
// 				}
// 			}
// 		}
// 	}

// 	.services-section {
// 		padding: 60px 0 40px;
// 		.services-list {
// 			li {
// 				width: 326px;
// 				height: 326px;

// 				.img-wrapper {
// 					width: 326px;
// 					height: 326px;
// 				}
// 			}
// 		}
// 	}

// 	.why-we-section {
// 		padding: 60px 0 40px;
// 		.list-item {
// 			li {
// 				display: inline-block;
// 				vertical-align: top;
// 				margin: 25px 20px 33px;
// 			}
// 		}
// 	}

// 	.stock-section {
// 		.section-img-wrapper {
// 			height: 340px;
// 		}
// 	}

// 	.our-employees-section {
// 		padding: 60px 0 40px;
// 	}

// 	// BLOG PAGE
// 	.blog-page {
// 		padding: 57px 0 60px;
// 		.section-title {
// 			display: block;
// 			padding-left: 7px;
// 		}
// 		.blog-list {
// 			overflow: hidden;
// 			li {
// 				margin: 43px 0 13px;
// 				letter-spacing: -0.7px;
// 				&:nth-child(odd) {
// 					float: left;
// 					clear: left;
// 					margin: 43px 0 13px 15px;
// 				}

// 				&:nth-child(even) {
// 					float: right;
// 					clear: right;
// 				}

// 				&:nth-child(n+4) {
// 					display: block;
// 				}

// 				.img-wrapper {
// 					float: left;
// 					margin: 4px 18px 0 0;
// 				}

// 				.overflow-block {
// 					overflow: hidden;
// 				}

// 				.item-title {
// 					margin: 0 auto 3px;
// 				}
// 				.blog-more-btn {
// 					margin: 26px 11px 0 0;
// 				}
// 			}
// 		}
// 	}
// 	// REVIEWS PAGE 
// 	.reviews-page {
// 		padding: 57px 0 65px;
// 		.reviews-list {
// 			overflow: hidden;
// 			& > li {
// 				float: left;
// 				margin: 0 5%30px;

// 				// &:nth-child(odd) {
// 				// 	float: left;
// 				// 	clear: left;
// 				// }

// 				// &:nth-child(even) {
// 				// 	float: right;
// 				// 	clear: right;
// 				// }

// 				&:nth-child(n+4) {
// 					display: block;
// 				}
// 			}
// 		}
// 	}

// 	// BLOG MORE  PAGE
// 	.blog-more-page {
// 		padding: 55px 0 60px;

// 		.article-post-date {
// 			margin: 0 auto 22px;
// 			padding-left: 17px;
// 		}

// 		.slider-more {
// 			max-width: 1020px;
// 			margin: 39px auto 30px;

// 			.left-rgba,
// 			.right-rgba {
// 				display: none;
// 			}

// 			.center {
// 				.fa-long-arrow-left,
// 				.fa-long-arrow-right {
// 					display: inline-block;
// 					top: 45%;
// 					transform: translateX(-45%);
// 					position: absolute;
// 					z-index: 2;
// 					width: 35px;
// 					height: 16px;
// 					font-size: 22px;
// 					font-weight: 400;
// 					line-height: 30px;
// 					color: #828282;
// 					text-align: center;
// 					@include transition;
// 					cursor: pointer;

// 					&:hover {
// 						color: #5ca7dc;
// 					}
// 				}

// 				.fa-long-arrow-left {
// 					left: 22px;
// 				}

// 				.fa-long-arrow-right {
// 					right: 0;
// 				}
// 			}
// 		}
// 	}

// 	.blog-more-page {
// 		.img-wrapper {
// 			width: 735px;
// 		}

// 		.section-title {
// 			font-size: 43px;
// 			line-height: 53px;
// 			padding-left: 15px;
// 			letter-spacing: -1px;
// 		}
// 	}

// 	// CONTACT PAGE
// 	.contact-page {
// 		padding: 57px 0 60px;

// 		.section-title {
// 			display: block;
// 			padding-left: 15px;
// 		}

// 		.contact-info-block {
// 			margin: 40px auto 0;

// 			li {
// 				display: inline-block;
// 				margin: 0 25px 0;

// 				&:first-child {
// 					margin-left: 0;
// 				}

// 				&:last-child {
// 					margin-right: 0;
// 				}
// 			}
// 		}
// 	}

// 	.contact-form-section {
// 		padding: 54px 0 73px;

// 		.form-title-mobile {
// 			display: none;
// 		}
// 		.form-title-desctop {
// 			display: block;
// 		}
// 		#contact-form {
// 			.row {
// 				overflow: hidden;
// 				margin: 4px auto 11px;
// 			}
// 			.name,
// 			.email {
// 				float: left;
// 				width: 49%;
// 				clear: left;
// 			}

// 			.phone,
// 			.selection-block {
// 				float: right;
// 				width: 49%;
// 				clear: right;
// 			}

// 			.email,
// 			.selection-block {
// 				margin-bottom: 15px;
// 			}
// 			.message {
// 				clear: both;
// 			}
// 		}
// 	}

// 	.contact-map {
// 		display: block;
// 		.mapWrapper {
// 			max-height: 469px;
// 			height: auto;
// 			min-height: 20px;
// 			// padding-bottom: 37.8%;
// 			padding-bottom: 0;
// 		}
// 	}
// 	.register-OOO-page,
// 	.register-PP-page,
// 	.like-slider-page  {
// 		.poster-section {
// 			.position-content-block {
// 				top: -60px;
// 			}
// 		}
// 	}
// 	.how-to-register-section {
// 		.low-text {
// 			padding: 39px 42px 41px 29px;
// 		}
// 	}

// 	.like-slider-page {

// 		.poster-section {
// 			.position-content-block {
// 				top: -90px;

// 				.content-title {
// 					font-size: 27px;
// 					line-height: 29px;
// 				}

// 				.content-text {
// 					font-size: 24px;
// 					line-height: 26px;
// 				}
// 			}
// 		}

// 		.how-to-register-section {
// 			.section-title {
// 				font-size: 27px;
// 				line-height: 37px;
// 			}
// 		}

// 		.stock-section {
// 			.position-block {
// 				.stock-title {
// 					font-size: 24px;
// 					line-height: 30px;
// 				}

// 				.stock-sign {
// 					font-size: 18px;
// 					line-height: 28px;
// 				}
// 			}
// 		}
// 	}
// 	// -------------------------
// 	.register-section {
// 		.service-table {
// 			.table-info-block {
// 				.table-header {
// 					display: block;
// 					margin: 15px auto 20px;
// 					padding: 0 15px;
// 					overflow: hidden;
// 					text-align: left;
// 					color: black;
// 					font: 300 24px / 30px $Swiss721BT;

// 					.left-name {
// 						float: left;
// 						max-width: 65%;
// 						width: 100%;
// 					}

// 					.right-name {
// 						float: left;
// 						max-width: 33%;
// 						width: 100%;
// 					}
// 				}

// 				.table-info-content {
// 					.info-row {
// 						max-width: 947px;
// 						overflow: hidden;
// 						padding: 0 12px 0 9px;

// 						.info-title {
// 							float: left;
// 							max-width: 65%;
// 							width: 100%;
// 							padding: 6px 0;
// 							border-right: 0.73px solid #4e99d2;
// 						}
// 						.info-price {
// 							float: left;
// 							max-width: 33%;
// 							width: 100%;
// 							padding: 7px 0 5px 12px;
// 						}

// 						.customize {
// 							position: relative;
// 							min-height: 115px;
// 							padding: 13px 0 7px 12px;

// 							span {
// 								position: absolute;
// 								top: 50%;
// 								transform: translateY(-50%);
// 								left: 12px;
// 							}

// 						}

// 						.row-title {
// 							padding: 10px 0;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.complate-form {
// 			#register-OOO-form,
// 			#register-PP-form,
// 			#register-OOO-form-customize  {
// 				overflow: hidden;
// 				max-width: 970px;
// 				.row {
// 					overflow: hidden;
// 					border: 0.73px solid #4e99d2;
// 					-webkit-border-radius: 10px;
// 					-moz-border-radius: 10px;
// 					border-radius: 10px;
// 					label {
// 						float: left;
// 						max-width: 40.5%;
// 						min-height: 35px;
// 						padding: 8px 12px 6px 9px;
// 						height: auto;
// 						width: 100%;
// 						border: none;
// 						border-right: 0.73px solid #4e99d2;
// 						border-radius: 0;
// 					}

// 					input,
// 					textarea,
// 					#founders-file,
// 					#CEO-file {
// 						float: left;
// 						max-width: 59.5%;
// 						min-height: 35px;
// 						height: auto;
// 						width: 100%;
// 						border: none;
// 						border-radius: 0;
// 					}
// 				}
// 				.INN {
// 					overflow: hidden;
// 					border: 0.73px solid #4e99d2;
// 					-webkit-border-radius: 10px;
// 					-moz-border-radius: 10px;
// 					border-radius: 10px;

// 					label {
// 						float: left;
// 						max-width: 40.5%;
// 						min-height: 40px;
// 						height: auto;
// 						width: 100%;
// 						border: none;
// 						border-right: 0.73px solid #4e99d2;
// 						border-radius: 0;
// 					}

// 					#INN-file {
// 						float: left;
// 						max-width: 59.5%;
// 						min-height: 40px;
// 						height: auto;
// 						width: 100%;
// 						border: none;
// 						border-radius: 0;
// 					}
// 				}
// 				.checkbox-block {
// 					overflow: hidden;
// 					border: 0.73px solid #4e99d2;
// 					-webkit-border-radius: 10px;
// 					-moz-border-radius: 10px;
// 					border-radius: 10px;

// 					.question {
// 						float: left;
// 						width: 23%;
// 						border: none;
// 						border-radius: 0;
// 					}
// 					.fiftinth-percent {
// 						width: 40%;
// 						border-left: 0.73px solid #4e99d2;
// 						border-right: 0.73px solid #4e99d2;
// 					}
// 				}
// 				.founders,
// 				.CEO {
// 					min-height: 62px;
// 					height: auto;
// 					label,
// 					#founders-file,
// 					#CEO-file {
// 						min-height: 62px;
// 						height: auto;
// 					}
// 				}
// 				.activities-main,
// 				.activities-second {
// 					min-height: 160px;
// 					height: auto;
// 					label,
// 					textarea {
// 						min-height: 160px;
// 						height: auto;
// 					}
// 				}
// 				#sbm-OOO-btn,
// 				#sbm-PP-btn,
// 				#sbm-OOO-btn-customize {
// 					float: right;
// 					margin: 37px 0 20px;
// 				}
// 			}
// 		}
// 	}
// 	.register-PP-page {
// 		.register-section {
// 			.service-table {
// 				.table-info-block {
// 					.table-info-content {
// 						.info-row {
// 							.info-title {
// 								padding: 8px 0 6px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

@media (min-width: 1024px) {

	.direction {
		display: none;
	}

	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		overflow: inherit;
		height: auto;
		padding: 15px 0 0 0;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: inherit;


		.dropdovn-menu-mobile,
		.call-us-block {
			display: none;
		}


		.logo-with-menu {
			width: 100%;
			height: auto;
			padding: 0;
			overflow: hidden;
		}

		.block-logo {
			float: left;
			width: 255px;
			height: 63px;
			margin: -34px auto 0;
			background: url("../images/logo-bg.png") no-repeat;

			.logo {
				float: left;
				max-width: 45px;
				max-height: 44px;
				margin: 7px 21px 0 22px;
			}
			.logo-sign {
				float: inherit;
				margin: 10px 0 0;
				text-align: left;
				letter-spacing: -1px;
				color: #2b2318;
				font: 400 22px / 22px $Swiss721BT;

				a {
					color: #2b2318;
				}
			}
		}

		.main-menu {
			display: block;
			float: right;
			width: 100%;
			background: rgba(0, 0, 0, 0.7);

			.list-menu {
				float: right;
				@include border-box;
				li {
					display: inline-block;
					margin: 0 0 0 44px;
					padding: 7px 0 4px;

					a {
						font: 400 16px / 22px $Swiss721BT;
						color: #fffefe;
						@include transition;

						&:hover {
							color: #ff9001;
						}
					}
				}
			}
		}

		.desctop-info-block {
			// clear: both;
			display: block;
			float: right;
			margin: 17px -6px 0 0;

			.quote-btn {
				display: block;
				float: right;
				margin: 0 13px 11px 0;
				text-align: center;
				width: 143px;
				height: 25px;
				color: black;
				font: 400 16px / 25px $Swiss721BT;
				background: url('../images/quote-btn-bg.png');

				span {
					padding-left: 10px;
				}
			}

			.header-phone {
				clear: both;
				display: block;
				margin: 0 9px 0 0;
				text-align: center;
				color: #fff;
				font: 400 16px/22px $Swiss721BT;

				.fa {
					padding-right: 10px;
				}
			}
		}
		
	}

	.inside-page-header {
		padding: 0;
		height: auto;
		max-height: 167px;


		.button_container {
			display: block;
			margin: 21px 0 0;
			right: 5%;
		}
	}

	.services-header {
		background: none;
		box-shadow: none;
	}


	.like-slider-page {
		.poster-section {

			.swiper-container-home-page {
				position: absolute;
				top: 484px;
				z-index: 2;
				width: 908px;
				height: 145px;
				.swiper-slide {
					.position-content-block {
						max-width: 525px;
						width: 100%;
						left: 48%;
						top: 0;
						transform: translateX(-50%);

						.content-title {
							margin: 0 0 15px;
							color: white;
							font: 400 42px / 47px $Swiss721BT;
						}
						.content-text {
							color: white;
							font: 400 25px / 26px $Swiss721BT;
						}
					}
				}
				.swiper-button-next, .swiper-button-prev {
					width: 33px;
					height: 58px;
					top: 35px;
					color: #fff;
					background-image: none;
				}
				.swiper-button-next {
					right: 11px;
					background: url("../images/next.png") no-repeat;
				}
				.swiper-button-prev {
					left: 34px;
					background: url("../images/prev.png") no-repeat;
				}
			}
			.more-block {
				clear: both;
				max-width: 695px;
				width: 100%;
				height: auto;
				overflow: hidden;
				margin: 0 0 0 14px;
				background: url("../images/more-block-bg.png");
				position: relative;
				z-index: 2;
				top: 114px;
				left: 14px;
				padding-bottom: 17px;

				.more-btn {
					position: relative;
					left: 20px;
					bottom: -10px;
					color: white;
					font: 400 18px / 22px $Swiss721BT;
				}

				.caption {
					position: absolute;
					top: 0px;
					left: 80px;
					width: 100%;
					height: 100%;
					color: #fff;
					-webkit-transform: scaleX(0);
					-moz-transform: scaleX(0);
					-ms-transform: scaleX(0);
					-o-transform: scaleX(0);
					transform: scaleX(0);
					-o-transform-origin: left center;
					-moz-transform-origin: left center;
					-ms-transform-origin: left center;
					-webkit-transform-origin: left center;
					transform-origin: left center;
					-o-transition: all 0.4s linear 0s;
					-moz-transition: all 0.4s linear 0s;
					-webkit-transition: all 0.4s linear 0s;
					-ms-transition: all 0.4s linear 0s;
					transition: all 0.4s linear 0s;
					p {
						margin: 15px 0px;
						text-align: center;
						padding: 0px 10px;
						color: white;
						font: 400 18px / 20px $Swiss721BT;
					}
				}
				&:hover {
					.caption {
						-webkit-transform: scaleX(1);
						-moz-transform: scaleX(1);
						-ms-transform: scaleX(1);
						-o-transform: scaleX(1);
						transform: scaleX(1);
					}
				}
			}
			.bottom-text {
				position: absolute;
				width: 100%;
				padding: 20px 0 73px;
				bottom: 0;
				left: 0;
				z-index: 2;
				color: #fff;
				background: rgba(0, 0, 0, 0.4);

				.bottom-text-title {
					margin: 0 0 35px;
					font: 400 27px / 29px $Swiss721BT;
				}

				.bottom-text-content {
					max-width: 865px;
					font: 400 20px / 22px $Swiss721BT;
				}
			}
		}
	}

	.services-poster {
		.bottom-rgba {
			width: 100%;
			height: 61px;
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.7);
		}
		.poster-section {
			height: 976px;

			.pisition-services-block {
				margin: 185px 0 0 0;
			}
		}
		.services-list {
			padding-left: 14px;
			li {
				display: inline-block;
				width: auto;
				height: auto;
				margin: 0 0 30px 0;

				&:nth-child(4n+1) {
					margin-left: 88px;
					margin-right: 0;
				}

				&:nth-child(4n+2) {
					margin: 15px 0 15px 30px;
				}
				&:nth-child(4n+3) {
					margin: 15px 0 15px 80px;
				}
				&:nth-child(4n+4) {
					margin: 15px 0 15px 50px;
				}

				.icon-wrapper {
					width: auto;

					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.services-icon-title {
					margin: 12px auto 0;
					color: #fff;
					font: 400 28px / 30px $Swiss721BT;
					text-shadow: 0 4px 5px rgba(0, 0, 0, 0.24);

					a {
						color: #fff;
						@include transition;
					}
				}

				.icon-first,
				.icon-second,
				.icon-third,
				.icon-fourth,
				.icon-fifth,
				.icon-sixth {
					width: 157px;
					height: 105px;
					margin: 0 0 19px 0;
					margin: 0 auto;
					background-size: contain !important;
					background-position: center !important;
				}
				.icon-first {
					background: url("../images/1_1.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/1_2.png") no-repeat;
					}
				}
				.icon-second {
					background: url("../images/2_1.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/2_2.png") no-repeat;
					}
				}
				.icon-third {
					background: url("../images/3_1.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/3_2.png") no-repeat;
					}
				}
				.icon-fourth {
					background: url("../images/4_1.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/4_2.png") no-repeat;
					}
				}
				.icon-fifth {
					background: url("../images/5_1.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/5_2.png") no-repeat;
					}
				}

				&:hover {
					.icon-first {
						background: url("../images/1_2.png") no-repeat;
					}
					.icon-second {
						background: url("../images/2_2.png") no-repeat;
					}
					.icon-third {
						background: url("../images/3_2.png") no-repeat;
					}
					.icon-fourth {
						background: url("../images/4_2.png") no-repeat;
					}
					.icon-fifth {
						background: url("../images/5_2.png") no-repeat;
					}

					.services-icon-title {
						a {
							color: #e17f00;
						}
					}
				}
			}

		}
	}

	.services-text {
		@include site-container;
		padding: 30px 0 50px;
		border-top: 5px solid #b36704;
		border-bottom: 5px solid #b36704;

		.services-content-sign {
			margin: 0 0 0 22px;
			padding: 0 13px;
			color: black;
			font: 400 20px / 22px $Swiss721BT;
			border-left: 2px solid #404040;
			border-right: 2px solid #404040;
		}
	}

	.services-section {
		padding: 77px 0 66px;
		overflow: initial;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.34);
		border-top: 5px solid #b36704;
		border-bottom: 5px solid #b36704;
		background: url("../images/cubics.png");

		.section-position-title {
			position: absolute;
			top: -105px;
			left: 15px;
			z-index: 2;
			width: 206px;
			height: 53px;
			background: url("../images/our-services-colore.png") no-repeat;

			span {
				display: block;
				margin: 13px 0 0 20px;
				color: white;
				font: 400 20px / 22px $Swiss721BT;
			}
		}
		.services-list {
			padding-left: 14px;
			li {
				display: inline-block;
				width: auto;
				height: auto;
				margin: 0 23px;

				&:first-child {
					margin-left: 40px;
					margin-right: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				.icon-wrapper {
					width: auto;

					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.services-icon-title {
					margin: 12px auto 0;
					color: black;
					font: 400 20px / 22px $Swiss721BT;

					a {
						color: #000;
						@include transition;
					}
				}

				.icon-first,
				.icon-second,
				.icon-third,
				.icon-fourth,
				.icon-fifth,
				.icon-sixth {
					width: 112px;
					height: 76px;
					margin: 0 auto;
					background-size: contain !important;
					background-position: center !important;
				}
				.icon-first {
					background: url("../images/1.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/1_2.png") no-repeat;
					}
				}
				.icon-second {
					background: url("../images/2.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/2_2.png") no-repeat;
					}
				}
				.icon-third {
					background: url("../images/3.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/3_2.png") no-repeat;
					}
				}
				.icon-fourth {
					background: url("../images/4.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/4_2.png") no-repeat;
					}
				}
				.icon-fifth {
					background: url("../images/5.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/5_2.png") no-repeat;
					}
				}
				.icon-sixth {
					background: url("../images/6.png") no-repeat;
					@include transition;

					&:hover {
						background: url("../images/6_2.png") no-repeat;
					}
				}

				&:hover {
					.icon-first {
						background: url("../images/1_2.png") no-repeat;
					}
					.icon-second {
						background: url("../images/2_2.png") no-repeat;
					}
					.icon-third {
						background: url("../images/3_2.png") no-repeat;
					}
					.icon-fourth {
						background: url("../images/4_2.png") no-repeat;
					}
					.icon-fifth {
						background: url("../images/5_2.png") no-repeat;
					}
					.icon-sixth {
						background: url("../images/6_2.png") no-repeat;
					}

					.services-icon-title {
						a {
							color: #e17f00;
						}
					}
				}
			}

		}
	}


	.stock-section {
		padding: 0;
		max-height: 481px;
		overflow: hidden;

		.top-rgba,
		.bottom-rgba {
			position: absolute;
			z-index: 1;
			left: 0;
			width: 100%;
			height: 45px;
			background: rgba(0, 0, 0, 0.6);
		}
		.top-rgba {
			top: 0;

			.title {
				margin: 10px 0 0;
				padding: 3px 0 0 30px;
				color: white;
				font: 400 20px / 22px $Swiss721BT;
			}
		}
		.bottom-rgba {
			bottom: 0;
		}
		.section-img-wrapper {
			height: 993px;
		}

		.advantages-list {
			@include border-box;
			margin: 150px auto 0;
			text-align: center;

			li {
				display: inline-block;
				max-width: 262px;
				width: 100%;
				min-height: 154px;
				padding: 15px 34px 20px 20px;
				background: url("../images/advanteges-item-bg.png") no-repeat;
				background-size: cover;
				@include border-box; 

				&:first-child {
					margin: 0 0 0 35px;
				}

				&:nth-child(2) {
					margin: 0 0 0 35px;
				}

				&:last-child {
					margin: 0 0 0 40px;
				}

				.item-title {
					margin: 0 auto 13px;
					color: white;
					font: 400 20px / 22px $Swiss721BT;
				}

				.item-content {
					text-align: left;
					color: white;
					font: 400 15px / 22px $Swiss721BT;
				}
			}
		}
	}

	.blog-tegs {
		padding: 42px 0 28px;
		background: url("../images/cubics.png");
		border-top: 5px solid #b36704;
		border-bottom: 5px solid #b36704;

		.tegs-list {
			overflow: hidden;
			padding: 49px 0 60px;
			background: url("../images/layer-38.png") no-repeat;
			background-position: right center !important;

			.rotate-title {
				position: absolute;
				top: 29%;
				right: 25px;
				text-transform: uppercase;
				color: black;
				font: 400 19px / 22px $Swiss721BT;
				-moz-transform: rotate(-65deg);
				-ms-transform: rotate(-65deg);
				-webkit-transform: rotate(-65deg);
				-o-transform: rotate(-65deg);
				transform: rotate(-65deg);
			}

			.tegs-title {
				max-width: 807px;
				line-height: 35px;

				a {
					float: left;
					position: relative;
					margin: 5px 0px;
					padding: 0 11px 3px;
					color: black;
					font: 400 19px / 21px $Swiss721BT;
					border-bottom: 2px solid #9b9b9b;

					&:after {
						position: absolute;
						content: ".";
						color: #000;
						right: 0;
						bottom: 4px;
						font-size: 19px;
					}
				}
				.visit-blog-btn {
					margin: 5px 0 5px 0;
					color: #ed760c;
					font-weight: 700;
					border-color: #ed760c;
				}
			}
		}
	}

	.quote-form-section {
		@include border-box;
		position: relative;
		width: 100%;
		margin: auto;
		background-size: contain;
		background-position: center;
		padding: 0;
		border-bottom: 5px solid #b36704;

		.rgba-bg-absolute {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
		}
		.section-img-wrapper {
			position: relative;
			width: 100%;
			min-height: 100%;
			height: 620px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			overflow: hidden;

			.full-width-img {
				min-height: auto;
				height: 100%;
				min-width: auto;
				max-width: none;
				width: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.section-position-title {
			position: absolute;
			top: -24px;
			left: 0;
			z-index: 2;
			width: 206px;
			height: 46px;
			background: url("../images/our-services-colore.png") no-repeat;

			span {
				display: block;
				margin: 13px 0 0 20px;
				color: white;
				font: 400 20px / 22px $Swiss721BT;
			}
		}

		.form-wrapper {
			overflow: hidden;
			margin: 145px 0 0 158px;
			max-width: 597px;
			width: 100%;
			min-height: 322px;
			padding: 13px 50px 25px 31px;
			background: url("../images/quate-form-border.png") no-repeat;
			background-size: contain;

			#quote-form {
				margin: 0 auto;
			}

			.row {
				overflow: hidden;
				label,
				.services-label {
					display: block;
					margin: 0 0 3px 10px;
					color: white;
					font: 400 14px / 19px $Swiss721BT;
				}

				#first-name,
				#number,
				#email, 
				#select-services,
				#message {
					background: #fff;
					border: none;
					outline: none;
					resize: none;
					color: #000;
					font: 400 14px / 19px $Swiss721BT;
					@include border-box;
				}

				#message {
					width: 100%;
					height: 111px;
				}

				#first-name,
				#number,
				#email {
					padding: 0 0 0 10px;
				}

				#first-name,
				#number,
				#email, 
				#select-services {
					display: block;
					width: 100%;
					height: 30px;
					@include border-box;
				}

				#select-services {
					color: #ffa200;
					padding-left: 10px;
				}
			}

			.first-name,
			.email,
			.number,
			.selection-block {
				margin: 0 0 9px;
			}

			.first-name,
			.email {
				width: 267px;
				float: left;
				clear: left;
			} 

			.number,
			.selection-block {
				width: 264px;
				float: right;
				clear: right;
			}

			.selection-block {
				label {
					margin: 0;
					position: relative;

					&:after {
						position: absolute;
						top: 0;
						right: 0;
						content: "";
						width: 20px;
						height: 100%;
						background: #fff;
						z-index: 2;
					}
				}
			}

			.message {
				clear: both;
			}

			#quote-sbm-btn {
				float: right;
				margin: 6px 11px 0 0;
				color: #ffa200;
				font: 400 18px / 22px $Swiss721BT;
				background: none;
				border: none;
				outline: none;
				cursor: pointer;
			}
		}
	}

	.map-section {
		position: relative;
		display: block;
		height: 620px;

		.section-position-title {
			position: absolute;
			top: -24px;
			left: 0;
			z-index: 2;
			width: 206px;
			height: 46px;
			background: url("../images/our-services-colore.png") no-repeat;

			span {
				display: block;
				margin: 13px 0 0 20px;
				color: white;
				font: 400 20px / 22px $Swiss721BT;
			}
		}

		.mapWrapper {
			position: absolute;
			padding-bottom: 0;
			width: 100%;
			height: 100%;
			#mapWrapper {
				min-height: 626px;
			}
			.map-overflow {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				display: block;
				cursor: pointer;
			}
		}
		.prefooter {
			overflow: hidden;
			padding: 29px 0 42px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: rgba(0, 0, 0, 0.6);
			z-index: 1;

			.footer-main-menu,
			.footer-services-menu,
			.social-block,	
			.information-block {
				float: left;
				max-width: 25%;
				width: 100%;

				.block-title {
					margin: 0 0 12px;
					color: white;
					font: 400 20px / 22px $Swiss721BT;
				}
			}
			.footer-main-menu {
				min-width: 80px;
				max-width: 200px;
				margin: 0 0 0 33px;
			}
			.footer-services-menu {
				min-width: 120px;
				max-width: 285px;
			}
			.social-block {
				min-width: 125px;
				max-width: 230px;

				.social-icon-list {
					@include border-box;
					max-width: 120px;

					li {
						display: inline-block;
						margin: 3px;

						&:nth-child(3n+1),
						&:nth-child(3n+3) {
							margin: 5px 0;
						}

						a {
							display: block;
							width: 24px;
							height: 24px;
							padding: 4px;
							-webkit-border-radius: 100%;
							-moz-border-radius: 100%;
							border-radius: 100%;
							text-align: center;

							background: rgba(0, 0, 0, 0.7);
							border: 1px solid #fff;

							@include transition;

							&:hover {
								border-color: #ed7b02;

								.fa {
									color: #ed7b02;
								}
							}

							.fa {
								font-size: 20px;
								line-height: 24px;
								color: #fff;
								@include transition;
							}
						}
					}
				}
			}
			.information-block {
				width: 205px;
				text-align: right;

				.location {
					margin: 18px 4px 15px 0;
					text-align: right;
					h3 {
						color: white;
						font: 400 16px / 20px $Swiss721BT;

						span {
							display: block;
						}
					}
				}

				.footer-phone {
					margin: 0 5px 0 0;
					color: white;
					font: 400 16px / 22px $Swiss721BT;

					.fa {
						padding-right: 7px;
					}
				}
			}

			.footer-main-menu,
			.footer-services-menu {
				li {
					display: block;
					margin: 5px 0;
					a {
						font: 400 16px / 22px $Swiss721BT;
						color: #fffefe;

						&:hover {
							color: #ff9001;
						}
					}
				}
			}
		}

	}

	.poster-section {
		width: 100%;
		height: 1043px;
		margin-top: -167px;
	}

	// FOOTER

	footer {
		padding: 0;

		.footer-logo {
			float: left;
			.logo-sign {
				letter-spacing: -0.7px;
			}
		}


		.copyright {
			padding: 7px 0;
			background: #e17f00;
			.term-and-privacy {
				a {
					display: inline-block;
					margin: 0 10px;
					color: white;
					font: 400 15px / 20px $Swiss721BT;
				}
			}
		}
	}

}


@media (min-width: 1200px) {

	header {
		.main-menu {
			.list-menu {
				li {
					padding: 9px 0 3px;
				}
			}
		}
	}
	.like-slider-page {
		.poster-section {
			height: 1099px;
			.bottom-text {
				padding: 20px 0 65px 49px;

				.bottom-text-title {
					margin: 0 0 25px;
				}
				.bottom-text-content {
					margin: 0 0 10px 0;
				}
			}
		}
	}

	.services-poster {
		.poster-section {
			height: 976px;
		}
	}
	.blog-tegs {
		.tegs-list {
			width: 100%;
			overflow: hidden;
			margin: -11px 0 0 0;
			padding: 10px 0 25px 39px;
			background-position: right top !important;

			.rotate-title {
				top: 19%;
				right: -13px;
			}

			.tegs-title {
				overflow: hidden;
				margin: -6px 0 0 0;
				a {

				}
			}
		}
	}

	.quote-form-section {
		.section-position-title {
			top: -28px;
			left: 15px;
			width: 220px;
			height: 52px;
		}

	}

	.map-section {
		.section-position-title {
			top: -33px;
			left: 15px;
			height: 55px;
		}
	}

// -----------------------------------------
}
@media (min-width: 1800px) {
	.page-slider {
		.swiper-container-home-page {
			.swiper-button-next {
				right: 24%
			}
			.swiper-button-prev {
				left: 27%;
			}
		}
	}
}