@import "compass/reset";


@font-face {
	font-family: 'Swiss721BT';
	src: url('../resources/Swis721BT/Roman/Swiss721BT-Roman.woff') format('woff'),
	url('../resources/Swis721BT/Roman/Swiss721BT-Roman.ttf') format('truetype'),
	url('../resources/Swis721BT/Roman/Swiss721BT-Roman.svg#Swiss721BT-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swiss721BT';
	src: url('../resources/Swis721BT/Roman/TT0003M_.eot');
	src: url('../resources/Swis721BT/Roman/TT0003M_.woff2') format('woff2'),
	url('../resources/Swis721BT/Roman/TT0003M_.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}




body {
	font-family: 'Swiss721BT', 'Arial', 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background: #fff;
}

$Swiss721BT: 'Swiss721BT', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin site-pagination {
	@include border-box;
	width: 100%;
	margin: 34px auto 31px;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 1px;
		width: 28px;
		height: 28px;

		a {
			display: block;
			width: 15px;
			height: 15px;
			margin: 0 auto;
			text-align: center;
			background: rgba(255, 255, 255, 1);
			@include transition;

			&:hover {
				background: rgba(215,122,2,1);
				-webkit-box-shadow: 0px 0px 0px 6px rgba(215,122,2,1);
				-moz-box-shadow: 0px 0px 0px 6px rgba(215,122,2,1);
				box-shadow: 0px 0px 0px 6px rgba(215,122,2,1);
			}
		}
		a.pagination-active {
			background: rgba(215,122,2,1);
			-webkit-box-shadow: 0px 0px 0px 6px rgba(215,122,2,1);
			-moz-box-shadow: 0px 0px 0px 6px rgba(215,122,2,1);
			box-shadow: 0px 0px 0px 6px rgba(215,122,2,1);
		}
	}
	.desctop {
		display: none;
	}
	@media (min-width: 1024px) {
		margin: 72px auto 16px;
		padding-left: 15px;

		.mobile {
			display: none;
		}
		.desctop {
			display: inline-block;
		}
	}
}
@mixin direction {
	@include site-container;
	padding: 10px 0;
	background-color: #5ca7dc;
	.arrow-back {
		float: left;
	}
	.direction-title {
		margin: 0 auto;
		text-align: center;
		a {
			color: white;
			font: 400 15px / 22px $Swiss721BT;
			text-transform: uppercase;
		}
	}
}


@mixin mapWrapper {
	overflow:hidden;
	padding-bottom: 10.25%;
	position:relative;
	height:0;
	iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
	.map-overflow {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		display: block;
		cursor: pointer;
	}
}

@mixin videoWrapper {
	position: relative;
	margin: 15px auto;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	max-width: 971px;
	max-height: 527px;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin section-title {
	margin: 0 auto;
	text-align: center;
	color: black;
	font: 300 24px / 28px $Swiss721BT;

	@media (min-width: 768px) {
		font-size: 41px;
		line-height: 47px;
	}
}

.wrapper {
	max-width: 994px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	@include border-box;
	position: relative;
}
a {
	text-decoration: none;
}
.direction {
	@include direction;
}

.section-title {
	@include section-title;
}

.pagination-list {
	@include site-pagination;
}

.videoWrapper {
	@include videoWrapper;
}
.mapWrapper {
	@include mapWrapper;
	#mapWrapper {
		min-height:500px;
		height: 100%;
		width: 100%;
		min-width: 500px;
	}
	.gm-style-iw * {
		display: block;
		width: 100%;
	}
	.gm-style-iw h4, .gm-style-iw p {
		margin: 0;
		padding: 0;
	}
	.gm-style-iw a {
		color: #4272db;
	}
}

// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@import "header";
@import "footer";
@import "main-page";
@import "about-page";
@import "services-page";
@import "blog-page";
@import "contact-page";
@import "services-more-page";
@import "media";